.capa1 {
    background-color: blue;
    width: 700px;
    height: 300px;
    margin: 50px;
    padding: 25px 50px;
}
.capa2 {
    background-color: yellow;
    width: 600px;
    height: 250px;
    padding: 25px 50px;
}
.capa3 {
    background-color: lightgreen;
    width: 500px;
    height: 200px;
    padding: 25px 50px;
}
.capa4 {
    background-color:green;
    width: 400px;
    height: 150px;
    padding: 25px 50px;
}
.capa5 {
    background-color:red;
    width: 300px;
    height: 100px;
    padding: 25px 50px;
}
.capa6 {
    background-color: gray;
    width: 200px;
    height: 50px;
    padding: 25px 50px;
}
p {
    font-size: 20px;
    font-weight: bold;
}